@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --fontf: "Montserrat", sans-serif;
    --color1: #f5ead9;
    --color2: #dae4e3;
    --color3: #bdd2c6;
}

/* --------------------general-------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontf);
    color: rgb(41, 56, 48);
}

.title {
    margin-bottom: 1rem;
}

/* --------------------nav-------------------- */

header {
    width: 100%;
}

nav {
    width: 100%;
    padding: 0.5rem;
}

.logo-container {
    width: 100%;
    height: 80px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 0.5rem;
    margin: 1rem 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--color3);
}

@media screen and (min-width: 768px) {
    nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .logo-container {
        height: 100%;
        width: 10%;
    }
    nav ul {
        width: 60%;

        padding: 0;
        margin: 0;
    }
}

/* --------------------header slider-------------------- */
.slideshow-container {
    max-width: 100%;
    height: 400px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    left: 50px;
    top: 50%;
}

@media screen and (min-width: 768px) {
    .slideshow-container {
        height: 600px;
    }
}

/* --------------------header slider-------------------- */
#us {
    width: 100%;
}

.us-info-container {
    background-color: var(--color2);
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;
}

.us-img-container {
    width: 100%;
}

.us-img {
    width: 100%;
    display: block;
}

@media screen and (min-width: 768px) {
    #us {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .us-info-container {
        position: relative;
        width: 400px;
        height: 130px;
        left: 50px;
        top: 80px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .us-img-container {
        width: 500px;
    }
    .us-img {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    #us {
        padding: 4rem;
    }
    .us-info-container {
        height: 220px;
        font-size: 1rem;
    }
}

/* --------------------services-------------------- */
#services {
    width: 100%;
    background-color: var(--color1);
}

.services-list {
    list-style: none;
    margin-top: 2rem;
}

.services-list li {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.services-img {
    width: 100%;
}

.services-info {
    font-size: 0.8rem;
    padding: 2rem;
    text-align: center;
}
@media screen and (min-width: 768px) {
    #services {
        display: flex;
        height: 60vh;
    }

    .services-img {
        width: 40%;
        object-fit: cover;
    }
    .services-info {
        width: 60%;
        padding: 4rem;
    }

    .services-list {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    #services {
        height: 80vh;
    }
    .services-info {
        font-size: 1rem;
    }
}

/* --------------------promos-------------------- */

#promo {
    width: 100%;
    padding: 1rem;
    text-align: center;
    padding: 4rem 0;
}

.promo-card {
    width: 300px;
    padding: 3rem 1rem 1rem;
    background-color: var(--color2);
    position: relative;
    text-align: center;
    margin: 2rem auto;
    font-size: 0.8rem;
}

.promo-icon {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
}

.price {
    color: rgb(224, 44, 224);
    margin-top: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .promo-cards-container {
        padding: 3rem;
        display: flex;
        justify-content: space-between;
    }
    .promo-card {
        font-size: 1rem;
        width: 200px;
        margin: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .promo-card {
        width: 300px;
    }
}

/* --------------------contact-------------------- */

#contact {
    width: 100%;
    background-color: var(--color3);
    text-align: center;
    font-size: 2rem;
    padding: 6rem 4rem;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(#bdd2c6 1px, transparent 1px),
        linear-gradient(to right, #bdd2c6 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

.quote {
    font-style: italic;
    margin-bottom: 4rem;
}

.btn {
    background-color: var(--color1);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
}

@media screen and (min-width: 768px) {
    #contact {
        padding: 8rem 4rem;
    }
}

/* --------------------clients-------------------- */

#clients {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opinion {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.opinion-text {
    margin-bottom: 1rem;
    position: relative;
    z-index: 100;
}

.bi-quote {
    position: absolute;
    font-size: 7rem;
    color: var(--color1);
    left: 50%;
    transform: translateX(-50%);
}

.opinion-name {
    font-weight: bold;
    font-size: 0.8rem;
}

@media screen and (min-width: 552px) {
    #clients {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 200px);
    }
}

@media screen and (min-width: 768px) {
    #clients {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
    }
}

/* --------------------footer-------------------- */

footer {
    text-align: center;
    padding: 4rem;
    background-color: #021f1c;
}

.socials {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: var(--color1);
    margin-top: 4rem;
}

.socials i {
    color: var(--color1);
    font-size: 2rem;
}
